@theme:#3ACCCE;
@grey:#555555;
@light:#A7E2E2;



body{
    background: #e6e6e6;
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    font-size:14px;
    color:@grey;
    display:flex;
    flex-direction:column;
    position: absolute;
    height:100%;
    width:100%;

    a:link, a:visited{color:@theme;}

    h1, .h1, h2, h3, h4{
        font-weight:700;
        color:@grey;

        span{font-weight: 300;}
    }
    h3{margin-top:0;}
    h1{font-size:22px;text-shadow:1px 1px 0px #fff;}
    h2{
        font-size:29px;
        margin-bottom:20px;
        font-weight: 300;

    }
    .title{
        color:#fff;
        font-size:26px;
        line-height:28px;
        text-align: center;
    }
    p{font-size:14px;line-height:20px;}

    .button{
        background:#fff;
        font-size:17px;
        font-weight: 700;
        text-decoration: none;
        display:inline-block;
        padding:15px 20px;
    }
    .secondary{
        .button;
        background:#fff!important;
        border:2px solid @theme!important;
        margin:auto;
    }
    .row{display:flex;flex-direction:row;}
    .column{display:flex;flex-direction:column;}
}
.max-width{
    padding:20px ;
    display:flex;
}
iframe{
    width:100%;
    /*height:100%;
    display:block;*/
}
hr{
    border:0;
    border-bottom:1px solid #ccc;
    height:1px;
}
.content{
    display:flex;
    flex-direction:row;
    align-items:stretch;
    /*position:fixed;*/
    width:100%;
    height:100%;

    @media screen and (max-width:960px) {
        flex-direction:column;

        .detail{display:none!important;}
    }

    .dash{
        flex-grow:1;
        justify-content:flex-end;
        align-content:flex-end;
        display: flex;
        padding:20px 30px;

        @media screen and (max-width:960px) {
            order:2;
        }

        > div{
            border:0px solid red;
            width:500px;
            padding-right:30px;
            box-sizing:border-box;


            @media screen and (max-width:960px) {
                width:100%;
            }
        }
        .profil{
            display: flex;
            flex-direction:row;
            margin:10px 0;

            img{
                border-radius:100%;
                width:60px;
                height:60px;
                margin-right:20px;
            }

        }
        .group{
            display: flex;
            flex-direction:row;
            margin:17px 0;
            align-content:flex-start;

            img{
                width:120px;
                height:75px;
                margin-right:20px;
            }
            > div {
                flex:1;

                p{margin:0;}
            }
        }

    }
    .map{
        flex-grow:2;
        width: 100%;
        border-left:1px solid #fff;

        @media screen and (max-width:960px) {
            order:1;
            min-height:300px;
        }
    }
}
header{
    background:@grey;
    z-index:50;
    width:100%;
    /*position: fixed;*/
    top:0;
    box-sizing: border-box;
    text-align:left;
    border-bottom:1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);

    div{
        align-items:center;
        padding:0!important;

        div:last-child{
            flex:1;
            text-align: right;

            i{font-size:24px;}
        }
    }
    .button{
        background:@theme;
        color:#fff!important;
        font-size:17px;
        font-weight: 700;
        text-decoration: none;
        display:inline-block;
        padding:20px 20px;
        margin:0 -2px;
        box-sizing: border-box;
        vertical-align: top;
        height:60px;

        &.grey{background:#333;}
    }
    .h1{font-size:30px;}
}

section{
    flex-direction:column;


    .create_event{
        background-color: #ff4e00;
        padding:35px 20px;
        color:#fff;
        font-size:25px;
        width:100%;
        margin-top: 20px;
        text-align: center;

    }

    .event_accept{
        display:flex;
        flex:3;
        margin-right:5px;
        min-width:320px;
        box-sizing: border-box;
        background:#fff;
        padding:20px;

        .row{
            img{margin-right:20px;}
        }
    }



    .event{
        position:relative;
        width:25%;
        min-width:100px;
        padding:30px 5px;
        background:#fff;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size:cover;
        text-align: center;
        margin:1px;

        *{position:relative;z-index:5;}

        i{
            background:#18a3ce;
            color:#fff;
            border-radius: 100%;
            line-height: 80px;
            text-align: center;
            width:80px;
            height:80px;
            font-size:30px;
            margin:40px 0 0 0;
        }
        h3{
            font-size:30px;
            color:#fff;
            text-align:center;
        }
        .bulle{
            background:#fff;
            color:#18a3ce;
            border-radius: 100%;
            width:28px;
            height:29px;
            font-size:20px;
            margin:0;
            position: absolute;
            right:110px;
            top:125px;
            line-height:28px;
            font-family: 'Gloria Hallelujah', cursive;
        }
        .overtherainbow{
            background:rgba(24,163,206,.3);
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            z-index:1;
        }
        &:hover .overtherainbow{display:none;}

    }

    .event.w25{
        width:33%;
    }
    .event.w15{
        width:23%;
        .bulle{right:70px;}
    }
    .event.w35{
        width:40%;
        .bulle{right:145px;}
    }

    /* theme */
    .violet{
        i{background:#9f69c9;}
        .bulle{color:#9f69c9;}
        .overtherainbow{background:rgba(159,105,201,.3);};
    }
    .green{
        i{background:#9f69c9;}
        .bulle{color:#9f69c9;}
        .overtherainbow{background:rgba(159,105,201,.3);};
    }
    .gold{
        i{background:#e3a049;}
        .bulle{color:#e3a049;}
        .overtherainbow{background:rgba(227,160,73,.2);};
    }

    .event_2{
        background-color: #fff;
        flex:1;
        padding:10px;
        margin:auto;
        width:185px;
        display: flex;
        flex-direction:column;
        align-content:flex-end;

        h3{margin:10px 0 0 0;line-height:29px;font-size:25px;}
    }

}


form{
    > div > div{
        margin:7px 0;
    }
    textarea, select, input{
        border:1px solid #dcdcdc;
        padding:10px 8px;
        font-size:11px;
        font-family: verdana;
    }
    input{
        display:block;
        min-width:300px;
    }
    label{
        display:block;
        margin:10px 0 5px;
    }
    textarea{
        width:94%;
        height:100px;
    }

    @media screen and (max-width:960px) {
        textarea, select, input{max-width:80%;}
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #555;
      font-style:italic;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #555;
      font-style:italic;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #555;
      font-style:italic;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #555;
      font-style:italic;
    }
    .button{
        background: @theme;
        color:#fff;
        display: inline-block;
        margin:15px auto 0;
        cursor: pointer;
    }
}
    /*
    .form > div {margin-bottom:20px;}

    label{display:block;margin-bottom:5px;}

    input{padding:5px;}
    input[type="text"]{width:300px;}
    input[type="number"]{width:90px;}
    textarea{width:400px;height:100px;}

.button{
        background:@theme;
        color:#fff!important;
        font-size:17px;
        font-weight: 700;
        text-decoration: none;
        display:inline-block;
        padding:20px 20px;
        margin:20px 0;
        box-sizing: border-box;
        vertical-align: top;
        height:60px;
        width:50%;

    }

}

#user_tags_form{
    label{
        display: inline-block;
        font-size:14px;
    }
    i{
        margin:0 auto;
        font-size: 40px;
    }
    input{margin:10px auto 0;}

    .column{
        padding:10px;
        text-align: center;
        margin:0 5px;
    }
}

*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:25;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

}
.overlay:target {
  visibility:visible;
  opacity: 1;
  display:block!important;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width:960px) {
        width:80%;
    }
}
.ico.close{
    font-size:30px;
    padding:10px;
    position: relative;
    z-index: 50;
    text-decoration: none;
    color:@grey;
    display: inline-block;
    position:absolute;
    right:20px;
    top:5px;
    height:20px;
}
.cluster{
    background: @theme;
    color:#fff;
    font-size:18px;
    border-radius: 100%;
    padding:7px;
    text-align: center;
    width:15px;
    height:15px;
    line-height:14px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    &.cluster-2{
        width:22px;
        height:22px;
        line-height:18px;
        font-size:25px;
        font-weight: 500;
    }
    &.cluster-3{
        height: 37px;
        line-height: 31px;
        width: 37px;
    }
}
/*
.cluster {
  color: #FFF;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}
.cluster-1 {
  background: url(http://v6.gmap3.net/skin/gmap/js/lib/gmap3-images/m3.png) no-repeat;
  line-height: 66px;
  width: 70px;
  height: 56px;
}
*/


.group-home{
    width:300px;
    min-height:300px;
    border:1px solid #dcdcdc;
    float:left;
    margin:10px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);


    img{max-width:100%;}
}



.detail{
    position:absolute;
    right:4%;
    bottom:3%;
    background:@theme;
    border-radius:3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    padding:40px 50px 40px 30px;
    box-sizing: border-box;
    z-index:10;
    width:40%;
    color:#fff;

    .name p{
        color:#fff;
        font-size: 22px;
        margin:0;
    }
    .type{margin:5px;}
}